    <% if(typeof footer != 'undefined') { %>
        <div class="footer">
            <i class="material-icons hoverable" id="settings-menu" onClick="openSettingsModal()">settings</i>
        </div>
    <% } %>
    </body>
</html>