<div class="top-bar row">
    <h1>Gulliver Backpack</h1>
    <div style="flex: 1"></div>
    <a href="/home">
        <h3>Home</h3>
    </a>
    <a href="/calendar">
        <h3>Calendar</h3>
    </a>
</div>