.main {
    margin: -5px auto;
    padding: 10px 15px;
}

.class:not(:last-child) {
    border-bottom: 1px solid var(--inner-block);
}

.class {
    justify-content: space-between;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.6, 0.05, 0.38, 0.98);
}

.class-info:hover {
    border-radius: 5px;
    background-color: var(--inner-block);
    cursor: pointer;
}

.class.opened:hover {
    background-color: transparent;
}

.class.opened .class-grade {
    opacity: 0;
}

.class-grade {
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    transition-duration: 0.2s;
}

.class-grade > span {
    font-weight: 500;
}

.class-details {
    display: none;
    opacity: 0;
}

.opened > .class-details {
    display: block;
    opacity: 1;
}

.class-grade-overview {
    flex: 1;
}

.class-grade-overview > h4 {
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.class-grade-overview > h3 {
    font-size: 2.5em;
    text-align: center;
}

.grade-table {
    flex: 3;
}

.image {
    display: block;
    padding: 0;
}

.image > .block {
    position: relative;
    bottom: 0px;
    width: -webkit-fill-available;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.image > img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#statistics {
    flex: 1;
}

#statistics-chart {
    flex: 1;
}

#statistics-GPA {
    width: 140px;
    align-items: center;
    justify-content: center;
}

#statistics-GPA > p {
    margin: 0px;
}

h2#GPA {
    margin: 0px;
    font-size: 5em;
}

h3#GPA {
    margin: 0px;
    font-size: 4em;
}

h4 {
    margin: 10px;
}

#statistics-chart {
    align-items: center;
    justify-content: center;
}

#assignments {
    flex: 1;
}

#grades {
    flex: 2;
    height: fit-content;
}

.assignment {
    cursor: pointer;

    transition-duration: 0.2s;
}

.assignment:hover {
    box-shadow: var(--shadow-selected);
}

.desc {
    margin: 0px;
}

.assignment-name {
    margin: 0px;
}

.assignment-class {
    margin: 0px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.assignment-date {
    margin-left: 0px;
}

/* that the username */
h3 {
    margin: 5px 0px 0px 10px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;

    margin: 5px 10px;
}