<%- include('../partials/header', {imports: data.imports}) %>

<div class="main calendar">
    <div class="calendar-info row">
        <h2 id='calendar-month'></h2>
    </div>
    <div class="calendar-inner">

    </div>
</div>

<%- include('../partials/footer') %>